<div class="div">

    <div class="row">
        <div class="col min">
            <input #min_value type="text" class="min" value="0">
        </div>
        <div class="col max">
            <input #max_value type="text" class="max" value="100">
        </div>
    </div>


    <div class="middle">
        <div class="multi-range-slider">
            <input #input_left type="range" id="input-left" min="0" max="100" step="10" value="0">
            <input #input_right type="range" id="input-right" min="0" max="100" step="10" value="100">

            <div class="slider">
                <div class="track"></div>
                <div #range class="range"></div>
                <div #thumb_left class="thumb left"></div>
                <div #thumb_right class="thumb right"></div>
            </div>
        </div>
    </div>

</div>